name: GitOps Infra Deploy

on:
  pull_request:
    branches: [ main ]
    types: [closed]

jobs:
  apply:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    environment: production

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: "Project 18-GitOps Infra deployment"

      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: "Project 18-GitOps Infra deployment"
