name: Terraform Plan CI

on:
  push:
    branches:
      - main
      - dev

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        working-directory: "Project 1-Deploy a Linux EC2 Web server using Terraform"
        run: terraform init

      - name: Terraform Validate
        working-directory: "Project 1-Deploy a Linux EC2 Web server using Terraform"
        run: terraform validate

      - name: Terraform Plan
        working-directory: "Project 1-Deploy a Linux EC2 Web server using Terraform"
        run: terraform plan -out=tfplan

      - name: Upload Plan Artifact
        uses: actions/upload-artifact@v4
        with:
          name: terraform-plan
          path: "Project 1-Deploy a Linux EC2 Web server using Terraform/tfplan"
